.home-content {
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin: 10rem;
}

.home__img {
    border-radius: 12px;
}

.home__link {
    color: var(--c-btn);
}

.sec_title {
    text-align: center;
    color: var(--c-primary);
    font-size: var(--txt-xl);
    font-weight: 900;
}

.user__btn {
    background-color: var(--c-btn);
    border-radius: var(--xs);
    width: 10rem;
    font-size: var(--m);
}

.user__btn:hover {
    background-color: var(--c-btn-hover);
}

.user__link {
    text-decoration: none;
    color: var(--c-text);
    font-style: italic;
    font-size: var(--m);
}

.user__link:hover {
    color: var(--c-btn-hover);
}

.tabs {
    width: 50%;
    display: flex;
    margin: var(--m) auto 0 auto;
    justify-content: center;
    gap:1rem;
    
}
.tabs button{
    padding: var(--xs);
    background-color: var(--bg-c-form);
    font-size: var(--txt-xl);
    font-weight: 800;
}

.tabs button:hover {
    background-color: var(--bg-c-light-dark);
    color: var(--c-black);
}
